.rollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
}

.rollDice button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

.dieDiv {
    display: flex;
    justify-content: center;
    align-content: center;
}